<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Rubik:wght@700&display=swap');
    </style>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/favicon" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>
  <body class="wrapper">
    <header class="site-header" role="site navigation">
      {% include "header.njk" %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer class="container">
      {% include "footer.njk" %}
    </footer>
    {% if page.url === "/application/" %}
      <script src="../js/adoptForm.js"></script>
    {% endif %}
  </body>
</html>