<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&family=Rubik:wght@700&display=swap');
    </style>
    <link rel="stylesheet" href="/css/style.css" />
    <link rel="shortcut icon" href="/favicon" type="image/x-icon" />
    <title>{{ title }}</title>
  </head>
  <body class="wrapper">
    <header class="site-header" role="site navigation">
      {% include "header.njk" %}
    </header>
    <main>
      {{ content | safe }}
    </main>
    <footer class="container">
      {% include "footer.njk" %}
      <p>{{ page.url }}</p>
    </footer>
    {% if page.url == "/application/" %}
    <script>
      /*!
      * Serialize all form data into a query string
      * (c) 2018 Chris Ferdinandi, MIT License, https://gomakethings.com
      * @param  {Node}   form The form to serialize
      * @return {String}      The serialized form data
      */
      var serialize = function (form) {

        // Setup our serialized data
        var serialized = [];

        // Loop through each field in the form
        for (var i = 0; i < form.elements.length; i++) {

          var field = form.elements[i];

          // Don't serialize fields without a name, submits, buttons, file and reset inputs, and disabled fields
          if (!field.name || field.disabled || field.type === 'file' || field.type === 'reset' || field.type === 'submit' || field.type === 'button') continue;

          // If a multi-select, get all selections
          if (field.type === 'select-multiple') {
            for (var n = 0; n < field.options.length; n++) {
              if (!field.options[n].selected) continue;
              serialized.push(encodeURIComponent(field.name) + "=" + encodeURIComponent(field.options[n].value));
            }
          }

          // Convert field data to a query string
          else if ((field.type !== 'checkbox' && field.type !== 'radio') || field.checked) {
            serialized.push(encodeURIComponent(field.name) + "=" + encodeURIComponent(field.value));
          }
        }

        return serialized.join('&');

      };

      var form = document.querySelector('#app-form');
      var formData = serialize(form);

      if(formData) {
        console.log(formData)
      }
    </script>
    {% endif %}
  </body>
</html>