---
layout: "layout.njk"
title: "About LMHR"
---

<header class="page-head">
    <h2>About LMHR</h2>
</header>
<p>Lead Me Home Rescue is a 501c3 non profit animal rescue located in North MS.  We strive to find loving homes for neglected and underprivileged dogs.  Amber Austin, founder and President , started Lead Me Home Rescue in 2019. The story of how our rescue was formed is quite an emotional one. Below Amber has shared that story so all of you could know.</p>

<p>The dog that is the face on our logo was named Luna. Luna was an owner surrender on Valentine’s Day at a very high kill animal shelter in the South.  I have always had a soft spot for the “underdog”.   The ones that no one wants or that need the most help. Luna appeared to have mange, with very little hair on her body. So we treated her for that with zero luck. Shortly after, a large knot came up on her abdomen.  I took her to my vet and she ended up having a very large tumor.  Surgery was performed that day to remove the mass. The test results came back inconclusive, with the belief that it was a Mast cell tumor.  Shortly after, thanks to my special friend Jeff Wall of Pilots n Paws, we flew Luna  to a specialist in Louisiana. More tests were performed, a few lymph nodes and another small tumor on her tongue were removed. And once again, inconclusive results came back. She was a medical mystery to all of us.</p>

<p>I decided that I was going to make sure that Luna lived the best life ever, no matter how short that life might be. She absolutely loved kayaking and I took her every chance that I could. Luna was the strongest dog I have ever known. She had a fighting spirit that I stood in awe of.</p>

<p>Five months later she woke up one morning and couldn’t walk right. Something was clearly very wrong. I immediately rushed her to the MSU vet school to have MRI done to find out what was going on. Sadly, I didn’t get the results I was hoping for. The cancer had spread to her spine , lungs, and bones. I had never had to put a dog to sleep. The next day I took her out to the lake I first took her when she came home from the shelter. I let her watch the ducks swim and told her how much I loved her.</p>

<p>For over a year,  I had been wanting to start my own rescue, but  I couldn’t work up the courage to do it. I made a promise to Luna before driving her to my vet to be put to sleep, that I would save as many dogs as I could in her honor.  Shortly after I began forming Lead Me Home Rescue.  Luna gave me the little push I needed to do exactly what I knew I was meant to be doing. Little did she know that her life was going to change the entire direction of mine.  Her will to survive and courage inspired me in more ways than she will ever know. I think Luna would be proud knowing that with every dog Lead Me Home Rescue saves , her legacy is being honored.  Thank you for all playing a part of her story.</p>
