---
layout: "layout.njk"
title: "LMHR"
---

<div class="wide-header">
    <figure class="luna-background">
        <img src="https://res.cloudinary.com/dtm8qhbwk/image/upload/f_auto,q_70/v1573864836/LeadMeHome_Logo_Cropped_fsvomx.png" alt="Lead Me Home Logo" class="luna_img" width="409" height="512">
    </figure>
    <div class="action">
        <h2 class="action-header">Rescue Your Next Pet!</h2>
        <a href="/application/" role="button" aria-label="click to view adoptiable dogs" class="adoption-btn">For Luna...</a>
    </div>
</div>