---
layout: "layout.njk"
title: "Support LMHR"
---

<h2 class="page-head">
    Ways to Support Us
</h2>
<section class="support-grid">
    {% for method in payment_methods %}
    <article class="payment-card">
        <a href={{ method.link }}><h3>{{ method.name }}</h3></a>
        <figure class="payment-logo">
            <img src={{ method.logo }} alt="make a payment or donation through {{ method.name }}">
        </figure>
    </article>
    {% endfor %}
</section>